.App {
  text-align: center;
}

.components-top {
  display: block;
  height: 40vh;
}

.components-middle {
  display: flex;
  height: 10vh;
  margin-top: 50px;
  justify-content: center;
  align-items: center; 
}

.components-bottom{
  display: inline-block;
  height: 30vh;
  /* margin-top: 1cm; */
}