.App {
  text-align: center;
}

.components-top {
  display: flex;
  text-align: center;
  height: 40vh;
  margin-left: 40px;
  margin-right: 30px;
}

.components-middle {
  display: flex;
  height: 10vh;
  margin-top: 50px;
  justify-content: center;
  align-items: center; 
}

.components-bottom{
  display: inline-block;
  height: 30vh;
  /* margin-top: 1cm; */
}