.Stave{
    border: 4px, solid, black;
    background-color: lightblue;
    height: 7cm;
    width: 30cm;
} 

#mystave{
    background-color: aqua;
    height: 7cm;
    width: 25cm;
    font-size: 15;
}

#stave-canvas{
    background-color: cadetblue;
}