.component-video {
  width: 25vw;
  height: 100%;
  display: block;
  float:left;
  margin-left: 20px;
}

#search-video {
  width: 100%;
  height: 5%;
  flex: fill 1;
}

#search-bar {
  width: 5.3cm;
}

#search-button {
  margin-left: 5%;
  width: 1cm;
  height: 1cm;
}

.video-player {
  pointer-events: none
}