.component-piano {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 100%;
  width: 65vw;
  float:left;
}

#octave-dialer {
  margin: 3px;
  height: 30%;
  /* border: 2px solid #000000;
  border-radius: 20%; */
}